.kanban-container {
  display: flex; 
  flex-direction: column; 
  align-items: center; 
  justify-content: center; 
  flex-wrap: nowrap; 
  padding: 20px; 
  background-color: #ffffff; 
  border-radius: 8px; 
  max-width: 1000px; 
  margin: auto; 
}

.add-vehicle-form {
  display: flex;
  justify-content: center; 
  gap: 10px; 
  margin-bottom: 20px; 
  padding: 10px;
  border: 1px solid #00bcd4; 
  border-radius: 8px; 
  background-color: #b2ebf2; 
  width: calc(100% - 40px); 
}

.add-vehicle-form input,
.add-vehicle-form select {
  padding: 10px;
  border: 1px solid #00bcd4; 
  border-radius: 5px; 
  flex-grow: 1; 
}

.add-vehicle-form button {
  padding: 10px 15px;
  border: none;
  border-radius: 5px; 
  background-color: #0097a7; 
  color: white; 
  cursor: pointer; 
}

.add-vehicle-form button:hover {
  background-color: #00796b; 
}

.kanban-columns {
  display: flex; 
  justify-content: space-between; 
  width: 100%; 
}

.kanban-column {
  margin: 0 10px;
  width: 400px; 
  border: 1px solid #80deea; 
  border-radius: 8px; 
  background-color: #e1fdff; 
  padding: 10px; 
  height: auto; /* Omogućava koloni da raste prema sadržaju */
  overflow-y: auto; /* Dodaje scrollbar ako je sadržaj veći od vidljivog dela */
}

.kanban-title {
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
  color: #00695c; 
  margin-bottom: 15px;
}

.kanban-card {
  background-color: #bdeaff;
  padding: 15px; 
  margin-bottom: 10px;
  border-radius: 15px; 
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease;
  min-height: 100px; 
}

.kanban-card:hover {
  background-color: #b3e5fc; 
}

.vehicle-info {
  margin: 0;
}

.vehicle-plate {
  margin: 0;
  font-size: 0.9em;
  color: #666;
}
