.payment label {
    font-weight: 600;
    color: #00bbff;
  }
  
  .payment button {
    padding: 8px 15px;
    border-radius: 5px;
    background: #5dccff;
    color: #fff;
    border: none;
    outline: none;
  }